<form>
    <div class="container ">
        <div class="row">
            <h1>{{title}}</h1>
        </div>
        <div class="row mb-2 g-0">
            <label for=name class="form-label">Name</label>
            <input id="name" type="text" name="name" [(ngModel)]="register.name" required placeholder="Name" class="form-control" />

            <label for="email" class="form-label">E-mail</label>
            <input id="email" type="text" name="email" [(ngModel)]="register.email" required placeholder="E-mail" class="form-control">
        </div>
        <div class=" row mb-3 g-0">
            <button type="button" id="save" (click)="save(register)" class="btn btn-success">Save</button>
            <button type="button" id="delete" (click)="delete(register)" class="btn btn-danger">Delete</button>
            <button type="button" id="new" (click)="newRegister()" class="btn btn-primary">New</button>
        </div>

        <app-register-datail [registers]="registers" (selected)="selected($event)">
        </app-register-datail>
    </div>
</form>