<table class="table table-striped">
    <thead>
        <th> ID</th>
        <th>Name</th>
        <th>E-mail</th>
    </thead>
    <tbody>
        <tr *ngFor="let register of registers" (click)="onSelected(register)">

            <td>
                <div> {{register.id}}</div>
            </td>
            <td>
                <div>{{register.name}}</div>
            </td>
            <td>
                <div> {{register.email}}</div>
            </td>
            <td>
                <div> {{register.city.nome}}/{{register.city.uf.sigla}}</div>
            </td>
        </tr>
    </tbody>
</table>